.home{
    background: #FFEEDA;
    &__logo{
        display: block;
        padding-top: 21.375rem;
        margin-left: 7.625rem;
        margin-right: 7.634rem;
    }
    &__logo1{
        display: block;
        margin-top: 9.868rem;
    }
}