.image{
    display: block;
    max-width: 100%;
    margin-top: 8.125rem;
}
.track{
    font-weight: 700;
    font-size: 1.563rem;
    line-height: 2.063rem;
    text-align: center;
    margin-top: 3.632rem;
    margin-left: 3.813rem;
    margin-right: 3.875rem;
    max-width: 15.75rem;
}
.track1{
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
    text-align: center;
    color: #646464;
    margin-top: 0.938rem;
    margin-left: 4.063rem;
    margin-right: 4.125rem;
    width: 15.25rem;
}
.next-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9.875rem;
    background: #EC2578;
    color: white;
    border-radius: 0.25rem;
    height: 3.125rem;
    font-weight: 600;
    font-size: 1.063rem;
    line-height: 1.375rem;
    margin-left: 6.75rem;
    margin-right: 6.813rem;
    margin-top: 4.375rem;
    margin-bottom: 3.125rem;
}