
.image1{
    display: block;
    max-width: 100%;
    margin-top: 5.438rem;
}
.text1{
    font-weight: 700;
    font-size: 1.563rem;
    line-height: 2.063rem;
    text-align: center;
    margin-top: 3.632rem;
    margin-left: 2.875rem;
    margin-right: 2.938rem;
    max-width: 17.625rem;
}
.text2{
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
    text-align: center;
    color: #646464;
    margin-top: 0.938rem;
    margin-left: 4.063rem;
    margin-right: 4.125rem;
    width: 15.25rem;
}